body {
  background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.05) 33%, rgba(255,255,255,0.0) 66%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100%), black;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Bayon',sans-serif;
}

div.linked {
  cursor: pointer;
  text-decoration: none;
  background: white;
  color: black;
  text-align: center;
  text-weight: bold;
}

div#info {
  display:block;
  overflow: auto;
  width: calc(100% - 2rem);
  height: 7rem;;
  left: 1rem;
  top: 2rem;
  z-index: 100;
  overflow:hidden;
}

div#stations {
  display:none;
  position:absolute;
  width:300px;
  left:50%;
  top:50%;
  color:black;
  z-order:10;
  transform: translate(-50%, -50%);
  background:rgba(240, 234, 219, 0.75);
  font-weight: bold;
  text-align: center;
}

div.station {
  font-weight: normal;
}

div.station {
  cursor: pointer;
}

div#controls {
  left : 1em;
  width: 20rem;
  background-color: white;
  text-align: center;
}

div.control {
  posistion : absolute;
  height : 3rem;
  width : 3rem;
  font-size : 2rem;
  cursor : pointer;
}

div#controlheader {
  font-weight : bold;
  font-size: 2rem;
}

div#new_artist_station,div#new_song_station {
  display:none;
}

div#status {
  background-color: grey;
  width: 25%;
  visibility: hidden;
}

div#coverdiv {
  width: calc(35% - 4rem);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1rem solid white;
  overflow: hidden;
}

div#coverdiv:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

p.artist, p.title, p.album,p.station {
  width: 100%;
  margin: 0;
  line-height: 1;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.5em black;  
}

p.artist {
  font-size : 4em;
}

p.title {
  font-size : 3em;  
}

p.album {
  font-size : 2em;  
}

p.station {
  font-size : 1em;  
}


img#coverimg {
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
  width: calc(100% + 1rem);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size : 1em; 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
